<div class="col-md-8">
    <div class="post-contents-shadow">

        <div class="container" style="width:auto">
            <div>
                <h3><i class="fas fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;Experience</h3>
                <p>
                    <div class="container">
                        <ul class="timeline">
                            <!-- Item 1 -->
                            <li>
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag">Django developper</span>
                                        <span class="time-wrapper"><span class="time">2018 - 2018</span></span>
                                    </div>
    
                                    <div class="desc">B-reactive : a programming language to model the behavior of agents in
                                        multi-agent systems simulation.
                                        <a href="https://ur-green.cirad.fr/content/download/5163/38173/version/1/file/paulo_pimenta_dissertation.pdf">PhD
                                            dissertation link</a>
                                    </div>
                                </div>
                            </li>
    
                            <!-- Item 2 -->
                            <li>
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag">Chef de projet</span>
                                        <span class="time-wrapper"><span class="time">2018 - 2018</span></span>
                                    </div>
    
                                    <div class="desc"> LUCCME - a framework to model landuse and land cover chage models
                                        <a href="http://luccme.ccst.inpe.br/en/home-2/">Project and publications link</a>
    
                                    </div>
                                </div>
                            </li>
    
                            <!-- Item 3 -->
                            <li>
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag">Bachelor’s degree - Information systems</span>
                                        <span class="time-wrapper"><span class="time">2010 - 2012</span></span>
                                    </div>
    
                                    <div class="desc">
                                        Graduated in Information Systems. Degree obtained in Universidade Estácio de Sá, Brazil
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                
                </p>
            </div>

            <hr />

            <div>
                <h3><i class="fas fa-user-graduate" aria-hidden="true"></i>&nbsp;&nbsp;Education</h3>

                <div class="container">
                    <ul class="timeline">
                        <!-- Item 1 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">PhD - Computer Science</span>
                                    <span class="time-wrapper"><span class="time">2010 - 2016</span></span>
                                </div>

                                <div class="desc">B-reactive : a programming language to model the behavior of agents in
                                    multi-agent systems simulation.
                                    <a href="https://ur-green.cirad.fr/content/download/5163/38173/version/1/file/paulo_pimenta_dissertation.pdf">PhD
                                        dissertation link</a>
                                </div>
                            </div>
                        </li>

                        <!-- Item 2 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Master degree - Computer Science</span>
                                    <span class="time-wrapper"><span class="time">2013 - 2016</span></span>
                                </div>

                                <div class="desc"> LUCCME - a framework to model landuse and land cover chage models
                                    <a href="http://luccme.ccst.inpe.br/en/home-2/">Project and publications link</a>

                                </div>
                            </div>
                        </li>

                        <!-- Item 3 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Bachelor’s degree - Information systems</span>
                                    <span class="time-wrapper"><span class="time">2010 - 2012</span></span>
                                </div>

                                <div class="desc">
                                    Graduated in Information Systems. Degree obtained in Universidade Estácio de Sá, Brazil
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <hr />

            <div id="skills">
                <h3><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;&nbsp;Skills</h3>
                <table style="width:100%">
                    <tr>
                        <td>PostgreSQL, MySQL</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Python, R</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Django</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>GIS, Mapserver</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Javascript</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>HTML</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>CSS</td>
                        <td style="width: 30%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;background-color: #1e7fac"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>

            <hr />

            <div id="languages">
                <h3><i class="fa fa-language" aria-hidden="true"></i>&nbsp;&nbsp;Languages</h3>
                <table style="width:100%">
                    <tr>
                        <td>French</td>
                        <td style="float:right">Fluent</td>
                    </tr>

                    <tr>
                        <td>English</td>
                        <td style="float:right">Fluent</td>
                    </tr>

                    <tr>
                        <td>Portuguese</td>
                        <td style="float:right"> Mother tongue</td>
                    </tr>
                </table>
            </div>

            <hr />


            <div id="free-time">
                <h3><i class="fas fa-couch" aria-hidden="true"></i>&nbsp;&nbsp;Free time</h3>
                <br/>
                <table style="width:100%">
                    <tr align="center">
                        <th>
                            <i class="fas fa-book-reader"></i>
                        </th>
                        <th>
                            <i class="fas fa-gamepad"></i>
                        </th>
                        <th>
                            <i class="fas fa-walking"></i>&nbsp;&nbsp;
                        </th>
                        <th>
                            <i class="fas fa-plane-departure"></i>
                        </th>
                    </tr>
                    <tr align="center">
                        <td>Read</td>
                        <td>Gamming</td>
                        <td>Running</td>
                        <td>Travel</td>
                    </tr>
                </table>
            </div>

            <!-- container -->
        </div>
        <!-- post-cotens -->
    </div>
    <!-- m8 -->
</div>