<div class="text-center">
    <div class="btn-group">
      <a class="btn rounded-circle" style="font-size:25px" href="#" title="Facebook" onclick='window.open();'>
        <i class="fa fa-facebook"></i>
      </a>
      <a class="btn rounded-circle" style="font-size:25px" href="#" title="Facebook">
        <i class="fa fa-github"></i>
      </a>
      <a class="btn rounded-circle" style="font-size:25px" href="#" title="Facebook">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn rounded-circle" style="font-size:25px" href="#" title="Facebook">
        <i class="fa fa-slack"></i>
      </a>
      <a class="btn rounded-circle" style="font-size:25px" href="#" title="Facebook">
        <i class="fa fa-at"></i>
      </a>
    </div>
  </div>